@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    In the MiniProject005 I created paginated Index, but number of elements on the page is constant.<br />
    In this project I haven't used separated class to remember for example number of elements in the database,<br />
    but I have used ViewBag, which simplifies the project.
</div>
